.circle{
  margin: auto;
  width: 300px;
  height: 300px;
  background: pink;
  color: white;
  border-radius: 50%;
  }
.aaaa{
  margin-top: 150px;
  width: 350px;
  height: auto;
  border-radius: 50%;
 
}
.element {
  -webkit-animation: KEYFRAME-NAME 8s infinite;
  -moz-animation:    KEYFRAME-NAME 8s infinite;
  -o-animation:      KEYFRAME-NAME 8s infinite;
  animation:         KEYFRAME-NAME 8s infinite;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

