.circle{
  margin: auto;
  width: 300px;
  height: 300px;
  background: pink;
  color: white;
  border-radius: 50%;
  }
.aaaa{
  margin-top: 150px;
  width: 350px;
  height: auto;
  border-radius: 50%;
 
}

