.circle{
  margin: auto;
  width: 300px;
  height: 300px;
  background: pink;
  color: white;
  border-radius: 50%;
  }
.aaaa{
  margin-top: 150px;
  width: 350px;
  height: auto;
  border-radius: 50%;
 
}
@keyframes stretch {
 from{transform: translateX(0)}
  to{transform: translateX(1340px);}
}


.element {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

